<div
  *ngIf="showAlert"
  class="alert alert-{{ type }}-custom alert-{{
    type
  }} p-4 d-flex align-items-start gap-3"
  [ngClass]="{ 'fade-out': fadeOut }"
  role="alert"
>
  <i class="alert-icon" [ngClass]="getIcon()" aria-hidden="true"></i>
  <span class="alert-body">
    <h6 class="alert-header mb-1">{{ getTitle() }}</h6>
    <p class="mb-0">{{ message }}</p>
  </span>

  <button
    type="button"
    class="btn-close position-absolute top-0 end-0 m-3"
    aria-label="Close"
    (click)="closeAlert()"
  ></button>
</div>
